<div class="h-full flex flex-col">
    <div class="w-full z-50 bg-gray-200 dark:bg-gray-800 rounded-lg mb-4 flex flex-col justify-around">
        <!-- Search Bar and Button Row -->
        <div class="flex sm:flex-row flex-col items-center justify-between w-full px-3 py-2 sm:space-x-2  gap-2 ">
            <div class="relative form-outline w-full sm:w-[30%]">
                <!-- Search Bar -->
                <input type="search" id="form1"
                [(ngModel)]="searchbar" placeholder="Rechercher ..."
                class="form-control no-native-clear w-full h-10 px-4 py-2 dark:bg-gray-700 border-gray-300 dark:border-gray-600 shadow-sm dark:shadow-gray-900 focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:shadow-md focus:shadow-blue-200 dark:focus:shadow-blue-500 transition-all duration-200 text-gray-900 bg-gray-50 border rounded-lg focus:border-blue-500 dark:placeholder-gray-400 dark:text-white outline-none"/>
                <button class="absolute inset-y-0 right-0 flex items-center pr-3">
                <svg
                    class="text-gray-600 h-4 w-4 fill-current"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background: new 0 0 56.966 56.966;"
                    xml:space="preserve" width="513px" height="513px" >
                    <path  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,
                    23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z"/>
                </svg>
                </button>
                    <!-- Custom X button (only shown if searchbar not empty) -->
                    <button
                    *ngIf="searchbar" (click)="searchbar = ''"
                    class="absolute right-8 top-1/2 transform -translate-y-1/2 text-gray-500 hover:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg"  class=" text-gray-600 fill-current"  height="18" width="18" viewBox="0 0 512 512">
                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175
                        175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                        </svg>
                    </button>
            </div>
              <!-- Status Dropdown -->
              <div class="relative  w-full sm:w-[20%] ">
                <select id="status"
                [(ngModel)]="selectedStatus" (change)="onStatusChange()"
                class="py-2.5 px-4 h-10 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:text-gray-400 dark:bg-gray-700 dark:focus:border-blue-300 dark:border-gray-600 dark:shadow-gray-900 dark:focus:ring-blue-500 dark:focus:border dark:focus:shadow-blue-500 transition-all duration-200">
                <option hidden value="" selected disabled>Status</option>
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
              </select>
              <div
                class="absolute top-1/2 right-3 mt-[1px]  -translate-y-1/2 cursor-pointer text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-white transition"
                >
                <svg class="absolute right-2 top-1/2 transform -translate-y-1/2 w-4 h-4 text-gray-500 pointer-events-none"
                    fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
                </svg>
              </div>
             </div>
            <div class="relative w-full sm:w-[20%]" #zoneToggleButton (click)="toggleZoneDropdown()" >
                <div
                    class="cursor-pointer py-2.5 px-4 h-10 block w-[full] border border-gray-300 rounded-lg text-sm bg-white
                    focus:border-blue-400 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 dark:text-gray-400
                    dark:bg-gray-700 dark:focus:border-blue-300 dark:border-gray-600 dark:shadow-gray-900
                        dark:focus:ring-blue-500 dark:focus:border dark:focus:shadow-blue-500 transition-all duration-200" >
                    {{ selectedZones.length > 0 ? getSelectedZoneNames() : 'Sélectionner des zones' }}
                </div>
                <div
                    class="absolute top-1/2 right-3 mt-[1px]  -translate-y-1/2 cursor-pointer text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-white transition"
                    >
                    <svg class="shrink-0 size-3.5 text-gray-500 w-4 h-4" xmlns="http://www.w3.org/2000/svg"
                        width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"> <path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"></path>
                    </svg>
                </div>
            <div
                *ngIf="zoneDropdownOpen"
                #zoneDropdown
                class="absolute z-[1001] w-full bg-white dark:text-gray-300 dark:bg-gray-800 border-2 rounded-lg shadow-lg w-full max-h-60 overflow-y-scroll mt-2 dark:border-gray-700">
                <label *ngFor="let zone of zones"
                class="flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700">
                <input type="checkbox" [value]="zone.idZone"
                    (change)="onCheckboxChange($event)"
                    [checked]="zone.idZone !== undefined && selectedZones.includes(zone.idZone)"
                    class="mr-2" />{{ zone.nom }} </label>
            </div>
            </div >
              <!-- groupe Input and Dropdown -->
              <div class="relative w-full sm:w-[20%]" (click)="toggleGrpDropdown()">
                <input
                   #groupeInput
                  class="py-2.5 px-4 h-10 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-400
                   focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40
                    dark:text-gray-400 dark:bg-gray-700 dark:focus:border-blue-300 dark:border-gray-600 dark:shadow-gray-900
                     dark:focus:ring-blue-500 dark:focus:border dark:focus:shadow-blue-500 transition-all duration-200"
                     type="text" autocomplete="off"
                     [value]="searchText"
                     (input)="onGroupeSearchChange($event)"
                     placeholder="Groupe"
                     name="searchText" />
                <div
                #grpArrowButton class="absolute top-1/2 end-3 -translate-y-1/2 cursor-pointer "  >
                  <svg class="shrink-0 size-3.5 text-gray-500 w-4 h-4" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"> <path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"></path>
                  </svg>
                </div>
                <!-- <div
                *ngIf="showGrpDropdown" id="groupeDropdown"  #groupeDropdown
                class="fixed z-[1001] bg-white shadow-md w-[100%] dark:bg-gray-700 border border-gray-50 rounded-lg max-h-40 overflow-y-auto"
                [ngClass]="{'invisible': !isGrpDropdownPositioned}">
                <div
                  *ngFor="let groupe of filteredGroupes"
                  (click)="selectGroupe(groupe)"
                  class="cursor-pointer py-2 px-4 text-sm text-gray-800 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-600"
                >{{ groupe.nom }}
                </div></div> -->
                <ul
                *ngIf="showGrpDropdown" id="groupeDropdown"  #groupeDropdown
                class="absolute z-1000 w-full bg-gray-100 dark:bg-gray-800 border-2 border-gray-400 dark:border-gray-700 rounded-lg mt-2 sm:max-h-60 max-h-[120px] overflow-y-auto shadow-lg"
                [ngClass]="{'invisible': !isGrpDropdownPositioned}"
                  >
                    <li
                    *ngFor="let groupe of filteredGroupes"
                    (click)="selectGroupe(groupe)"
                    class="px-4 py-2 m-2 text-sm text-gray-800 rounded-lg dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700 cursor-pointer"
                    >
                    {{ groupe.nom }}
                    </li>
                </ul>


            </div>
            <!-- Reset Filters Button class="w-fit mx-5 px-2 h-10 bg-gray-400 text-white rounded-lg hover:bg-gray-500 transition ease-in-out duration-200" > <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2.25"> <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path> <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path> </svg>  </button>-->
            <button (click)="clearFilters()"
            class="w-fit mx-5 px-1 h-10 bg-gray-trans text-gray-400 rounded-lg hover:text-gray-500" > <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="30" height="31" stroke-width="2.25"> <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path> <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path> </svg>  </button>

            <button *ngIf="hasPermission('creer_utilisateur')" (click)="showRegisterForm()"
            class="flex items-center justify-center h-10 w-10  mx-5 px-2  bg-blue-500 text-white rounded-full hover:bg-blue-400 transition ease-in-out duration-200">
              <svg width='14' height='14' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'>
              <path d='M1.22229 5.00019H8.77785M5.00007 8.77797V1.22241' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'></path>
            </svg>
        </button>
       </div>
    </div>
      <!-- class="px-6 py-2 w-full rounded-md flex-1 outline-none bg-white
        border-gray-300 focus:ring-2  focus:ring-blue-400 focus:border-blue-400 focus:shadow-md focus:shadow-blue-200
          dark:border-gray-600 shadow-sm dark:shadow-gray-900
          dark:bg-gray-700 dark:text-white border
           dark:focus:ring-blue-500 dark:focus:border-blue-500  dark:focus:shadow-blue-500 transition-all duration-200 "
      /> -->

      <div class="relative z-10  mb-2 shadow-md rounded-lg max-h-[calc(100%-132px)] custom-scrollbar-container overflow-auto " (scroll)="onScroll()">
        <table class=" w-full text-xs text-left rtl:text-right text-gray-700 dark:text-gray-400 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-300 dark:bg-gray-700 dark:text-gray-400 sticky-top">
                <tr>
                  <th scope="col" class="px-4 py-3 ">
                    <div class="flex items-center">
                        #
                    </div>
                  </th>
                    <th scope="col" class="px-4 py-3 ">Matricule</th>
                    <th scope="col" class="px-2 py-3 ">
                        <div class="flex items-center">
                            Nom Complet
                        </div>
                    </th>
                    <th scope="col" class="px-4 py-3 ">
                        <div class="flex items-center">
                            E-mail
                        </div>
                    </th>
                    <th scope="col" class="px-4 py-3 ">
                        <div class="flex items-center">
                            Type
                        </div>
                    </th>
                    <th *ngIf="!hasPermission('modifier_utilisateur')"  scope="col" class="px-4 py-3 ">
                        <div class="flex items-center">
                            Situation
                        </div>
                    </th>
                    <!-- <th *ngIf="hasPermission('modifier_utilisateur')"  scope="col" class="px-4 py-3 ">
                        <div class="flex items-center">
                            Super Utilisateur
                        </div>
                    </th> -->
                    <th *ngIf="hasPermission('modifier_utilisateur')"  scope="col" class="px-4 py-3 ">
                        <div class="flex items-center">
                            Activé
                        </div>
                    </th>
                    <th scope="col" class="px-4 py-2">
                        <div class="flex items-center">
                            Zones
                        </div>
                    </th>
                    <th scope="col" class="px-4 py-3 ">
                        <div class="flex items-center">
                            Modifié le
                            <svg (click)="sortByDate()" class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                            </svg>
                        </div>
                    </th>
                    <th scope="col" class="px-4 py-3 "></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filteredUsers | filter:searchbar  | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; let i = index"
                    class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 dark:hover:bg-hoverColor hover:bg-gray-100">
                    <th scope="col" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white ">{{user.idUser}}</th>
                    <th scope="col" class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white ">{{user.matricule}}</th>
                    <th scope="col" class="px-2 py-2 font-medium">{{user.prenom}} {{user.nom}}</th>
                    <th scope="col" class="px-4 py-2 font-medium">{{user.email}}</th>
                    <th scope="col" class="px-4 py-2 font-medium">{{user.groupe ? user.groupe.nom : '-' }}</th>
                    <th *ngIf="!hasPermission('modifier_utilisateur')" scope="col" class="px-4 py-2 font-medium">{{user.status}}</th>

                    <!-- Toggle pour le rôle : activé si le rôle est SUPERUSER, désactivé si ADMIN -->
                    <!-- <th *ngIf="hasPermission('modifier_utilisateur')" scope="col" class="px-4 py-2 font-medium ">
                        <label  class="inline-flex items-center cursor-pointer">
                            <input  [disabled]="user.role !== 'SUPERUSER' && user.role !== 'ADMIN'" type="checkbox" [checked]="user.role === 'SUPERUSER'"
                                (change)="onRoleToggleChange(user, $event)" class="sr-only peer">
                                <div [ngClass]="{ 'bg-gray-200 dark:bg-gray-700 dark:after:bg-gray-500 after:border-gray-300 after:bg-gray-300 dark:after:border-gray-500': user.role !== 'SUPERUSER' && user.role !== 'ADMIN' , 'bg-gray-400 dark:bg-gray-500': user.role === 'SUPERUSER' || user.role === 'ADMIN'  }" class="relative w-9 h-5   rounded-full peer  peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-gray-200 after:border-gray-100 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500 dark:peer-checked:bg-blue-500  peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-300"></div>
                            </label>
                    </th> -->

                    <!-- Toggle pour le statut : activé si ACTIVE, sinon désactivé -->
                    <th *ngIf="hasPermission('modifier_utilisateur')" scope="col" class="px-4 py-2 font-medium ">
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" [checked]="user.status === 'ACTIVE'"
                                (change)="onStatusToggleChange(user, $event)" class="sr-only peer">
                            <div class="relative w-9 h-5 bg-gray-400  rounded-full peer dark:bg-gray-500 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-gray-100 after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-gray-200 after:border-gray-100 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-500 dark:peer-checked:bg-blue-500  peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-300"></div>
                        </label>
                    </th>
                    <th scope="col" class="px-4 py-2 max-w-40 font-medium">
                        {{ getZoneNames(user) }}
                    </th>
                    <th scope="col" class="px-4 py-2 font-medium">{{user.modifieLe |date:'dd/MM/yyyy, HH:mm' }}</th>


                    <th class="px-4 py-2 text-right relative">
                        <div *ngIf="hasPermission('supprimer_utilisateur')  || hasPermission('consulter_historique') || hasPermission('modifier_utilisateur')" class="relative inline-block text-left">
                            <button (click)="toggleDropdown(i, $event)"
                            [ngClass]="{'dark:bg-gray-600 bg-gray-300': dropdownOpen === i , ' bg-transparent': dropdownOpen !== i}"
                            class="p-1 dark:hover:bg-gray-600  hover:bg-gray-300 rounded-full focus:outline-none">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
                                    <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
                                </svg>
                            </button>
                            <!-- Menu déroulant -->
                            <div *ngIf="dropdownOpen === i"  id="dropdownDots-{{i}}"
                                [ngStyle]="{ top: dropdownPosition.top + 'px', left: dropdownPosition.left + 'px' }"
                                class="fixed w-40
                                        bg-gray-100 dark:bg-gray-800
                                        border border-gray-300 dark:border-gray-600
                                        rounded-md shadow-md z-50 transition-all"
                                [ngClass]="{ 'origin-bottom-right': displayAbove, 'origin-top-right': !displayAbove }">

                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200 font-medium space-y-1">

                                <li *ngIf="hasPermission('modifier_utilisateur')">
                                    <a (click)="openUpdateForm(user)" class="flex items-center mx-1 px-4 py-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded-lg cursor-pointer transition-all">
                                        <!-- Pencil Icon -->
                                        <svg class="w-5 h-5 mr-3 text-gray-500 dark:text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                                            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
                                            <path d="M13.5 6.5l4 4"></path><path d="M16 19h6"></path></svg>
                                        Modifier</a>
                                </li>
                                <li *ngIf="hasPermission('consulter_historique')">
                                <a (click)="openUserHistory(user.idUser)"
                                 class="flex items-center mx-1 px-4 py-2 hover:bg-gray-300 dark:hover:bg-gray-700 rounded-lg cursor-pointer transition-all">
                                    <!-- History Icon -->
                                    <svg class="w-5 h-5 mr-3 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" stroke-width="1.8" viewBox="0 0 24 24">
                                    <polyline points="1 4 1 10 7 10"/>
                                    <path d="M3.51 15a9 9 0 1 0-1.38-5H1"/>
                                    <path d="M12 7v5l3 3"/>
                                    </svg>
                                    Historique
                                </a>
                                </li>
                                <li  *ngIf="hasPermission('supprimer_utilisateur')">
                                <a class="flex items-center  mx-1 px-4 py-2 text-red-600 hover:bg-red-500 dark:hover:bg-red-600 hover:text-white dark:hover:text-white rounded-lg cursor-pointer transition-all"
                                (click)="openDeleteModel(user)">
                                    <!-- Trash Icon -->
                                    <svg class="w-5 h-5 mr-3  " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                                        <path d="M4 7l16 0"></path>
                                        <path d="M10 11l0 6"></path>
                                        <path d="M14 11l0 6"></path>
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                      </svg>
                                    Supprimer
                                </a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </th>

                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <div class=" flex sm:flex-row justify-between items-center px-4 rounded-lg h-10 flex-col gap-4">
        <div class="text-sm text-slate-500">
            Affichage <b>{{ (page - 1) * itemsPerPage + 1 }}</b> - <b>{{ (page * itemsPerPage > users.length ? users.length : page * itemsPerPage) }}</b> de <b>{{ users.length }}</b> éléments
        </div>
        <div class="flex space-x-3 flex-row sm:flex-row flex-col">
             <form class="max-w-sm mx-auto flex flex-row gap-3 items-center ">
                 <label for="countries" class="block text-sm font-medium text-slate-500">Élément par page</label>
                 <div class="relative">
                   <select id="countries" [(ngModel)]="itemsPerPage" name="itemsPerPage"  class="bg-gray-50 border-2 border-gray-300 text-gray-700 text-sm rounded-lg  focus:outline-none  focus:ring-blue-500 focus:border-blue-500 block w-16 h-8 px-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400  dark:focus:border-blue-500">
                     <option value="5" selected>5</option>
                     <option value="10">10</option>
                     <option value="15">15</option>
                     <option value="20">20</option>
                    <option *ngIf="users.length > 20" value="{{users.length}}">{{users.length}}</option>
                </select>
                <!-- Flèche SVG personnalisée -->
                <svg class="absolute right-2 top-1/2 transform -translate-y-1/2 w-4 h-4 text-gray-500 pointer-events-none" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
              </div>
          </form>
          <pagination-controls (pageChange)="page = $event" class="text-gray-800 dark:text-white  " previousLabel="Précédent" nextLabel="Suivant" ></pagination-controls>
      </div>
  </div>
</div>
<app-user-history #userHistoryComponent></app-user-history>
    <app-delete-confirm
        [isOpen]="isDeleteModelOpen"
        [title]="'cet utilisateur'"
        [message1]="'Vous êtes sur le point de supprimer un utilisateur du système.'"
        [message2]="'Cette action est importante et aura un impact permanent.'"
        (onConfirm)="selectedUser ? ChangeUserStatus(selectedUser.idUser, UserStatus.DELETED) : null"
        (onCancel)="closeDeleteModel()">
    </app-delete-confirm>


<app-register-form
    *ngIf="showForm"
    (close)="hideRegisterForm()"
    (submit)="onUserRegistered($event)"
    [userToUpdate]="selectedUser"
    (userUpdated)="onUserUpdated()">
</app-register-form>
