::ng-deep .ngx-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    height: 8px;
    margin-top: 16px;
    font-size: 15px;
  }
  
  ::ng-deep .ngx-pagination .current {
    color: rgb(255, 255, 255) !important;
    border-radius: 8px;
    padding: 6px 12px;
    background-color: #3b82f6 !important ;
  }
  
  ::ng-deep .ngx-pagination a {
    text-decoration: none;
    color: #717d91 !important; /* Gris foncé pour une bonne visibilité */
    padding: 6px 12px;
    border-radius: 8px;
    transition: all 0.3s ease;
  }
  
  ::ng-deep .ngx-pagination a:hover {
    background-color: transparent !important; /* Pas de changement au hover */
  }
  ::ng-deep .ngx-pagination .disabled {
    color: #717d91 !important; /* Gris clair */
  }
  
  
  select {
    border-radius: 8px !important;
    appearance: none; /* Supprime le style natif */
  }
  
  
  
  thead  {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
/* Mode clair */
::-webkit-scrollbar {
  width: 6px;
  border: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1aa !important; /* Gris clair */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important; /* Fond clair */
}
  