<div class="fixed inset-0 z-50 bg-black/60 dark:bg-black/70 flex items-center justify-center p-4">
    <div
      *ngIf="successMessage"
      class="fixed top-5 -translate-x-1/2 z-50 w-fit max-w-md flex items-start justify-between gap-3 p-3 rounded-md border border-green-400 bg-green-50 dark:bg-green-900/10 dark:border-green-700 text-green-800 dark:text-green-300 text-sm animate-slideFromTop shadow-lg"
    >
    <div class="flex items-center gap-2">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>
      {{successMessage }}
    </div>
    <button (click)="closeFamilleAlert()" class="text-green-500 hover:text-green-700 dark:hover:text-white transition">
      <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <div class="relative bg-gray-50  dark:bg-gray-900 border border-gray-300  dark:border-gray-700 rounded-2xl shadow-2xl w-full max-w-lg p-6 transition-all">

    <!-- Close button -->
    <button
      (click)="close.emit()"
      type="button"
      class="absolute top-2 right-2 text-gray-400 hover:text-gray-600 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-8 h-8 flex items-center justify-center transition"
    >
      <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <!-- Title -->
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Ajouter un Produit</h2>

  
    

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="space-y-4">

      <!-- Nom -->
      <div>
        <label class="text-sm text-gray-800 dark:text-gray-300 mb-1 block">Nom du produit</label>
        <input
          type="text"
          formControlName="nom"
          class="w-full p-2 rounded-md bg-gray-100  dark:bg-gray-800 text-gray-800 dark:text-white border text-sm transition focus:ring-2 focus:ring-blue-500"
          [ngClass]="{
            'border-red-500 ring-red-500': productForm.get('nom')?.invalid && productForm.get('nom')?.touched,
            'border-gray-300 dark:border-gray-700': !(productForm.get('nom')?.invalid && productForm.get('nom')?.touched)
          }"
        />
        <div *ngIf="productForm.get('nom')?.invalid && productForm.get('nom')?.touched" class="text-red-500 dark:text-red-400 text-sm mt-1">
          Le nom du produit est requis.
        </div>
      </div>

      <!-- Référence -->
      <div>
        <label class="text-sm text-gray-800 dark:text-gray-300 mb-1 block">Référence</label>
        <input
          type="text"
          formControlName="reference"
          class="w-full p-2 rounded-md bg-gray-100  dark:bg-gray-800 text-gray-800  dark:text-white border text-sm transition focus:ring-2 focus:ring-blue-500"
          [ngClass]="{
            'border-red-500 ring-red-500': productForm.get('reference')?.invalid && productForm.get('reference')?.touched,
            'border-gray-300 dark:border-gray-700': !(productForm.get('reference')?.invalid && productForm.get('reference')?.touched)
          }"
        />
        <div *ngIf="productForm.get('reference')?.invalid && productForm.get('reference')?.touched" class="text-red-500 dark:text-red-400 text-sm mt-1">
          La référence est requise.
        </div>
      </div>

      <!-- Indice -->
      <div>
        <label class="text-sm text-gray-800 dark:text-gray-300 mb-1 block">Indice</label>
        <input
          type="text"
          formControlName="indice"
          class="w-full p-2 rounded-md bg-gray-100  dark:bg-gray-800 text-gray-800 dark:text-white border text-sm transition focus:ring-2 focus:ring-blue-500"
          [ngClass]="{
            'border-red-500 ring-red-500': productForm.get('indice')?.invalid && productForm.get('indice')?.touched,
            'border-gray-300 dark:border-gray-700': !(productForm.get('indice')?.invalid && productForm.get('indice')?.touched)
          }"
        />
        <div *ngIf="productForm.get('indice')?.invalid && productForm.get('indice')?.touched" class="text-red-500 dark:text-red-400 text-sm mt-1">
          L’indice est requis.
        </div>
      </div>

      <!-- Famille -->
      <div>
        <label class="text-sm text-gray-800 dark:text-gray-300 mb-1 block">Famille</label>
        <div class="relative">
          <input
            id="famille-input"
           
            [value]="familleSearch"
            (input)="onFamilleSearchChange($event)"
           
            class="w-full p-2 rounded-md bg-gray-100  dark:bg-gray-800 text-gray-800 dark:text-white border text-sm transition focus:ring-2 focus:ring-blue-500"
            [ngClass]="{
              'border-red-500 ring-red-500': productForm.get('famille')?.invalid && productForm.get('famille')?.touched,
              'border-gray-300 dark:border-gray-700': !(productForm.get('famille')?.invalid && productForm.get('famille')?.touched)
            }"
            
          />


              <!-- Dropdown toggle icon -->
            <div
            class="absolute top-1/2 right-3 mt-[1px]  -translate-y-1/2 cursor-pointer text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-white transition"
            (click)="toggleDropdown()"
            >
              <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path d="m7 10 5 5 5-5" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="absolute right-10 top-5 -translate-y-1/2  select-none">
              <div class="h-5 w-[2px] bg-gray-600 dark:bg-gray-500 hover:bg-gray-700 dark:hover:bg-white"></div>
            </div>

          <!-- Clear (x) icon -->
          <button
            *ngIf="familleSearch"
            (click)="clearFamilleSearch()"
            type="button"
            class="absolute right-12 mr-[3px] top-1/2 mt-[1px] -translate-y-1/2 text-red-500 dark:text-red-400 transition"
            >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="17" height="17" stroke-width="2">
              <path d="M10 10l4 4m0 -4l-4 4"></path>
              <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"></path>
            </svg>
          </button>
          <ul
            *ngIf="showDropdown && (filteredFamilles.length > 0 || familleSearch)"
            id="dropdown"
            class="absolute z-10 w-full bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded mt-2 max-h-40 overflow-y-auto shadow-lg"
          >
            <li
              *ngFor="let f of filteredFamilles"
              (click)="selectFamille(f)"
              class="px-4 py-2 text-gray-800 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer"
            >
              {{ f.nomFamille }}
            </li>
            <li
              *ngIf="familleSearch && !familleNames.includes(familleSearch)"
              (click)="addFamille(familleSearch)"
              class="px-4 py-2 text-blue-600 dark:text-blue-400 hover:bg-blue-50 dark:hover:bg-blue-600/20 cursor-pointer"
            >
              + Ajouter "<span class="italic">{{ familleSearch }}</span>"
            </li>
          </ul>
        </div>
        <div *ngIf="productForm.get('famille')?.invalid && productForm.get('famille')?.touched" class="text-red-500 dark:text-red-400 text-sm mt-1">
          Veuillez sélectionner ou ajouter une famille.
        </div>
      </div>

      <!-- Submit -->
      <div class="text-right">
        <button
          type="submit"
          class="inline-flex items-center justify-center gap-2 bg-blue-600 hover:bg-blue-700 active:bg-blue-800 text-white font-semibold px-3 py-2 rounded-xl shadow-sm hover:shadow-md transition-all duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-900"
        >
          <svg
            class="w-4 h-4"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            viewBox="0 0 24 24"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          Sauvegarder
        </button>
      </div>

    </form>
  </div>
</div>
