<div class="fixed inset-0 flex items-center justify-center bg-black/50 bg-opacity-50 z-[100] p-4">
    <!-- Message success  -->
    <div
        *ngIf="successMessage"
        class="fixed top-14 -translate-x-1/2 z-50 w-fit max-w-md flex items-start justify-between gap-3 p-3 rounded-lg border border-green-400 bg-green-50 dark:bg-green-900/10 dark:border-green-700 text-green-800 dark:text-green-300 text-sm animate-slideFromTop shadow-lg"
    >
    <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
        <path d="M8.56 3.69a9 9 0 0 0 -2.92 1.95"></path>
        <path d="M3.69 8.56a9 9 0 0 0 -.69 3.44"></path>
        <path d="M3.69 15.44a9 9 0 0 0 1.95 2.92"></path>
        <path d="M8.56 20.31a9 9 0 0 0 3.44 .69"></path>
        <path d="M15.44 20.31a9 9 0 0 0 2.92 -1.95"></path>
        <path d="M20.31 15.44a9 9 0 0 0 .69 -3.44"></path>
        <path d="M20.31 8.56a9 9 0 0 0 -1.95 -2.92"></path>
        <path d="M15.44 3.69a9 9 0 0 0 -3.44 -.69"></path>
        <path d="M9 12l2 2l4 -4"></path>
        </svg>
        {{successMessage }}
    </div>
  
    </div>
    <!-- Message d'erreur -->
    <div
    *ngIf="errorMessage"
    class="fixed top-14 -translate-x-1/2 z-50 w-fit max-w-md flex items-start justify-between gap-3 p-3 rounded-lg border border-red-400 bg-red-50 dark:bg-red-900/10 dark:border-red-700 text-red-800 dark:text-red-300 text-sm animate-slideFromTop shadow-lg"
    >
    <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
        <path d="M12 9v4"></path>
        <path d="M12 16v.01"></path>
        </svg>
        {{ errorMessage }}
    </div>
    </div>
  
    <!-- pop up add Ligne -->
    <div class="relative bg-white  dark:bg-gray-900 rounded-lg shadow-lg w-full max-w-lg p-6 transition-all border dark:border-gray-700 ">
  
      <!-- Close button -->
      <button
        (click)="close.emit()"
        type="button"
        class="absolute top-2 right-2 text-gray-500 hover:text-gray-600 dark:hover:text-white hover:bg-gray-200 dark:hover:bg-gray-700 rounded-lg w-8 h-8 flex items-center justify-center transition"
      >
      <svg class="w-3 h-3" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
      </button>
  
      <h2 *ngIf="isNewLigne" class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Ajouter une ligne de production</h2>
      <h2 *ngIf="!isNewLigne" class="text-xl font-semibold text-gray-900 dark:text-white mb-4">Modifier la ligne de production</h2>
      <div >
        <form [formGroup]="ligneForm" class="space-y-4">
  
            <!-- Nom -->
            <div>
            <label class="text-sm text-black dark:text-gray-300 mb-1 block">Nom de la ligne <span class="text-red-500">*</span></label>
            <input
                type="text"
                placeholder="Nom"
                formControlName="nom"
                class="w-full p-2 rounded-lg bg-gray-50  dark:bg-gray-800 text-gray-800 dark:text-white border-2  text-sm transition   focus:outline-none  border-gray-400 dark:border-gray-700 shadow-sm 
                dark:shadow-gray-900 focus:ring-1 focus:ring-blue-400 focus:border-blue-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:shadow-md focus:shadow-blue-200  transition-all duration-200"
                [ngClass]="{
                  'border-red-500 ring-red-500': ligneForm.get('nom')?.invalid && ligneForm.get('nom')?.touched,
                  'border-gray-400 dark:border-gray-700': !(ligneForm.get('nom')?.invalid && ligneForm.get('nom')?.touched)
                }"
            />
            <div *ngIf="ligneForm.get('nom')?.invalid && ligneForm.get('nom')?.touched" class="text-red-500 dark:text-red-400 text-sm mt-1">
              Le nom de l'ligne est requis.
            </div>
            </div>     
            <!-- Zone -->
            <div>
              <label class="text-sm text-black dark:text-gray-300 mb-1 block">Zone <span class="text-red-500">*</span></label>
              <div class="relative">
                <input
                  id="zone-input"
                  placeholder="Zone"
                  [value]="zoneSearch"
                  (input)="onZoneSearchChange($event)"
                  autocomplete="off"
                  class="w-full p-2 focus:outline-none rounded-lg bg-gray-50  dark:bg-gray-800 text-gray-800 dark:text-white border-2  text-sm transition  focus:outline-none  border-gray-400 dark:border-gray-700 shadow-sm 
                  dark:shadow-gray-900 focus:ring-1 focus:ring-blue-400 focus:border-blue-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:shadow-md focus:shadow-blue-200  transition-all duration-200"
                  [ngClass]="{
                    'border-red-500 ring-red-500': ligneForm.get('zone')?.invalid && ligneForm.get('zone')?.touched,
                    'border-gray-400 dark:border-gray-700': !(ligneForm.get('zone')?.invalid && ligneForm.get('zone')?.touched)
                  }"
                  
                />
          
          
                <!-- Dropdown toggle icon -->
                  <div
                  class="absolute top-1/2 right-3 mt-[1px]  -translate-y-1/2 cursor-pointer text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-white transition"
                  (click)="toggleZoneDropdown()"
                  >
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                      <path d="m7 10 5 5 5-5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </div>
                  <div class="absolute right-10 top-5 -translate-y-1/2  select-none">
                    <div class="h-5 w-[2px] bg-gray-500 hover:bg-gray-700 dark:hover:bg-white"></div>
                  </div>
          
                <!-- Clear (x) icon -->
                <button
                  *ngIf="zoneSearch"
                  (click)="clearZoneSearch()"
                  type="button"
                  class="absolute right-12 mr-[5px] top-1/2 mt-[1px] -translate-y-1/2 dark:text-gray-400 text-gray-600  transition rounded-full border-2 border-gray-600 dark:border-gray-400  hover:bg-gray-200"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="12" height="12" stroke-width="2">
                    <path d="M18 6l-12 12"></path>
                    <path d="M6 6l12 12"></path>
                  </svg>
                </button>
                <ul
                  *ngIf="showZoneDropdown && (filteredZones.length > 0 || zoneSearch)"
                  id="dropdownZone"
                  class="absolute z-10 w-full bg-gray-100 dark:bg-gray-800 border-2 border-gray-400 dark:border-gray-700 rounded-lg mt-2 max-h-40 overflow-y-auto shadow-lg"
                >
                  <li
                    *ngFor="let z of filteredZones"
                    (click)="selectZone(z)"
                    class="px-4 py-2 m-2 text-gray-800 rounded-lg dark:text-gray-200 hover:bg-gray-300 dark:hover:bg-gray-700 cursor-pointer"
                  >
                    {{ z.nom }} 
                  </li>
                </ul>
              </div>
              <div *ngIf="ligneForm.get('zone')?.invalid && ligneForm.get('zone')?.touched" class="text-red-500 dark:text-red-400 text-sm mt-1">
                Veuillez sélectionner ou ajouter une zone.
              </div>
            </div>
  
            <div class="flex justify-end  items-center gap-x-2">
                  <button
                      *ngIf="isNewLigne"
                      (click)="addLigne()"
                      type="button"
                      [disabled]="ligneForm.invalid"
                      class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                  >
                      Créer
                  </button>
              
                  <button
                      *ngIf="!isNewLigne"
                      (click)="updateLigne()"
                      type="button"
                      [disabled]="ligneForm.invalid || ( ligne.nom=== ligneForm.value.nom && ligneForm.value.zone.nom === ligne.zone.nom )"
                      class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                  >
                      Modifier
                  </button>
              
            </div>
  
              
        </form>
        </div>
    </div>
  
    
  
  </div>
  