<!-- <div class="w-full h-full">
    <iframe title="ProjetDW"
            class="powerbi-iframe"
            src="https://app.powerbi.com/view?r=eyJrIjoiZDQyZDZiMWYtYWZlMC00YjExLWFmYTQtY2EyNzg2ZjJiOWI0IiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9&pageName=ReportSection"
            frameborder="0"
            allowfullscreen="true">
    </iframe>
</div> -->
<div style="position: relative; width: 100%; height: 100%;">
    <iframe
      [src]="safeReportUrl"
      frameborder="0"
      allowfullscreen="true"
      style="width: 100%; height: 100%; border: none; position: absolute; top: 0; left: 0;"
      class="powerbi-iframe">
    </iframe>
  </div>

  