<!-- <div *ngIf="(userConnected.role === role.IPDF && !(fiche.status === FicheStatus.ACCEPTEDIQP || fiche.status === FicheStatus.REJECTEDIQP))
    || (userConnected.role === role.SUPERUSER && (fiche.status === FicheStatus.PENDING || fiche.status === FicheStatus.ACCEPTEDIPDF))
    || userConnected.role === role.IQP "  
    class="relative w-full max-w-[130px] ">
    <select
        [(ngModel)]="fiche.status"
        (change)="onStatusChange(fiche)"
        class="w-full  appearance-none px-4 py-1 pr-10 rounded-xl text-sm 
                bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-600
                focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                transition-colors duration-150 ease-in-out
                "
        [ngClass]="{
        'text-green-600': (fiche.status === FicheStatus.ACCEPTEDIPDF  && userConnected.role === role.IPDF ) || fiche.status === FicheStatus.ACCEPTEDIQP ,
        'text-red-500': fiche.status === FicheStatus.REJECTEDIQP || fiche.status === FicheStatus.REJECTEDIPDF,
        'text-gray-700 dark:text-gray-200': fiche.status === 'PENDING'
        }"
    >
        <option disabled  [value]="getDefaultStatus(fiche)" hidden>En attente</option> 
        <option class="text-green-600" [value]="getValidationStatus()">Approuvée</option>
        <option class="text-red-500" [value]="getRefuStatus()">Rejetée</option>
        
    </select>
    <svg class="absolute right-4 top-1/2 transform -translate-y-1/2 w-4 h-4 text-gray-500 pointer-events-none"
        fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
    </svg>  
</div> -->
<div *ngIf="(userConnected.role === role.IPDF && !(fiche.status === FicheStatus.ACCEPTEDIQP || fiche.status === FicheStatus.REJECTEDIQP))
    || (userConnected.role === role.SUPERUSER && (fiche.status === FicheStatus.PENDING || fiche.status === FicheStatus.ACCEPTEDIPDF))
    || userConnected.role === role.IQP "  
    class="relative w-full max-w-[130px]">

    <select
        [(ngModel)]="fiche.status"
        (change)="onStatusChange(fiche)"
        class="w-full appearance-none px-4 py-1 pr-10 rounded-xl text-sm 
                bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-600
                focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                transition-colors duration-150 ease-in-out"
        [ngClass]="{
            'text-green-600': (fiche.status === FicheStatus.ACCEPTEDIPDF && userConnected.role === role.IPDF) || fiche.status === FicheStatus.ACCEPTEDIQP,
            'text-red-500': fiche.status === FicheStatus.REJECTEDIQP || fiche.status === FicheStatus.REJECTEDIPDF,
            'text-gray-700 dark:text-gray-200': fiche.status === 'PENDING'
        }"
        [disabled]="fiche.status === getValidationStatus() || fiche.status === getRefuStatus()"> <!-- Disable when approved or rejected -->
        <!-- [hidden]="fiche.status === getValidationStatus() || fiche.status === getRefuStatus()"> Disable when approved or rejected -->

        <!-- Options du dropdown -->
        <option class="text-green-600" [value]="getValidationStatus()">Approuvée</option>
        <option class="text-red-500" [value]="getRefuStatus()">Rejetée</option>
    </select>

    <!-- Flèche SVG personnalisée -->
    <svg class="absolute right-4 top-1/2 transform -translate-y-1/2 w-4 h-4 text-gray-500 pointer-events-none"
        fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
    </svg>
</div>







<!-- pop up commentaire de rejet -->
<div class="fixed inset-0 bg-black bg-opacity-40 z-50 flex items-center justify-center" *ngIf="isRejetModalOpen">
    <div class="bg-white dark:bg-gray-800 rounded-xl shadow-lg w-[90%] max-w-md p-6 space-y-4 relative  text-sm">        
        <textarea [(ngModel)]="rejetComment"
                placeholder="Entrez un commentaire de rejet..."
                rows="4"
                class="w-full p-2 focus:outline-none focus:ring-2 focus:ring-blue-500/50 focus:border-blue-500
                transition-colors duration-150 ease-in-out border border-gray-300 dark:border-gray-600 rounded-md dark:bg-gray-700 dark:text-white resize-none"></textarea>
    
        <div class="flex justify-end space-x-2">
        <button (click)="fermerRejetModal()"
                class="px-4 py-2 bg-gray-300 dark:bg-gray-600 rounded hover:bg-gray-400 dark:hover:bg-gray-500">
            Annuler
        </button>
        <button (click)="userConnected.role === role.IPDF ? approuverFicheIPDF(ficheToReject, FicheStatus.REJECTEDIPDF) : approuverFicheAvecAQL(FicheStatus.REJECTEDIQP)" 
                [disabled]="!rejetComment.trim()"
                class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 disabled:opacity-50">
            Envoyer
        </button>
        </div>
    </div>
</div>
    
<!-- Modal Upload AQL -->
<div *ngIf="isUploadAQLModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-40">
    <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md w-[90%] max-w-md text-sm">
        <h2 class="text-lg font-semibold text-gray-800 dark:text-white mb-4">Ajouter une fiche AQL</h2>

        <!-- <input type="file"  accept="application/pdf" class=" w-full border rounded p-2 dark:bg-gray-700 dark:text-white"/> -->
        <input type="file"(change)="onFileSelected($event)"
        class="mb-4 border-gray-400 dark:border-gray-700 rounded-lg bg-gray-50  dark:bg-gray-800 w-full text-slate-500 font-medium text-sm border-2  file:cursor-pointer cursor-pointer border 
        file:border-0 file:py-2 file:px-4 file:mr-4 file:bg-gray-800 dark:file:bg-gray-900 file:hover:bg-gray-900/80 file:text-gray-100 rounded" />

        <div class="flex justify-end space-x-2">
            <button (click)="fermerUploadAQLModal()"
                    class="px-4 py-2 bg-gray-300 dark:bg-gray-600 rounded hover:bg-gray-400 dark:hover:bg-gray-500">
                Annuler
            </button>
            <button [disabled]="!aqlFile" (click)="approuverFicheAvecAQL(FicheStatus.ACCEPTEDIQP)"
                    class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">
                Valider
            </button>
        </div>
    </div>
</div>

