<!-- access-denied.component.html -->
<div class="flex flex-col items-center justify-center w-screen h-screen gap-2 py-2 ">
  <img class="h-[60vh]" src="../../../assets/401.svg">
  <h1 class="text-3xl text-center  font-bold text-blue-600 dark:text-white whitespace-nowrap">
    Vous n'êtes pas autorisé(e)
  </h1>
  <p class="text-xl text-center  dark:text-white">
    Vous avez tenté d'accéder à une page pour laquelle vous n'avez pas l'autorisation préalable.
  </p><br>
  <button class="button" onclick="window.location.href = '/';">
    <div class="flex flex-row align-middle">
      <svg class="w-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
      </svg>
      <p class="ml-2">Prev</p>
    </div>
  </button>      
</div>