<form [formGroup]="form" (ngSubmit)="submitForm()" class="mt-[150px] p-6 rounded-lg shadow-lg w-[80%] mx-auto flex flex-col space-y-4 bg-white border border-black">
    
    <div class="flex sm:flex-row flex-col gap-6">
        <!-- Colonne 1 -->
        <div class="flex flex-col space-y-4 w-full">
            <!-- Nom -->
            <label class="font-medium">Nom :</label>
            <input type="text" formControlName="name" class="border border-black p-2 rounded w-full focus:ring-2 focus:ring-black focus:outline-none">
            <div class="text-red-500 text-sm min-h-[10px]">
                <span *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)">
                    <span *ngIf="form.controls.name.errors?.['required']">⚠ Le nom est requis.</span>
                    <span *ngIf="form.controls.name.errors?.['minlength']">⚠ Min. 3 caractères.</span>
                    <span *ngIf="form.controls.name.errors?.['maxlength']">⚠ Max. 20 caractères.</span>
                    <span *ngIf="form.controls.name.errors?.['pattern']">⚠ Lettres uniquement.</span>
                </span>
            </div>

            <!-- Âge -->
            <label class="font-medium">Âge :</label>
            <input type="number" formControlName="age" class="border border-gray-500 p-2 rounded w-full focus:ring-2 focus:ring-black focus:outline-none">
            <div class="text-red-500 text-sm min-h-[10px]">
                <span *ngIf="form.controls.age.invalid && (form.controls.age.dirty || form.controls.age.touched)">
                    <span *ngIf="form.controls.age.errors?.['required']">⚠ L'âge est requis.</span>
                    <span *ngIf="form.controls.age.errors?.['min']">⚠ Min. 18 ans.</span>
                    <span *ngIf="form.controls.age.errors?.['max']">⚠ Max. 60 ans.</span>
                </span>
            </div>
        </div>

        <!-- Colonne 2 -->
        <div class="flex flex-col space-y-4 w-full">
            <!-- Email -->
            <label class="font-medium">Email :</label>
            <input type="email" formControlName="email" class="border border-gray-500 p-2 rounded w-full focus:ring-2 focus:ring-black focus:outline-none">
            <div class="text-red-500 text-sm min-h-[10px]">
                <span *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)">
                    <span *ngIf="form.controls.email.errors?.['required']">⚠ L'email est requis.</span>
                    <span *ngIf="form.controls.email.errors?.['email']">⚠ Format d'email invalide.</span>
                </span>
            </div>

            <!-- Mot de passe -->
            <label class="font-medium">Mot de passe :</label>
            <div class="relative w-full">
                <input type="password" formControlName="password" class="border border-gray-500 p-2 rounded w-full focus:ring-2 focus:ring-black focus:outline-none pr-10">
            </div>
            <div class="text-red-500 text-sm min-h-[11px]">
                <span *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">
                    <span *ngIf="form.controls.password.errors?.['required']">⚠ Le mot de passe est requis.</span>
                    <span *ngIf="form.controls.password.errors?.['minlength']">⚠ Min. 8 caractères.</span>
                    <span *ngIf="form.controls.password.errors?.['pattern']">⚠ Doit contenir au moins une lettre et un chiffre.</span>
                </span>
            </div>
        </div>
    </div>

    <!-- Bouton -->
    <button type="submit" [disabled]="form.invalid" class="md:w-[20%] w-[60%] bg-black text-white py-2 px-4 rounded hover:bg-gray-800 transition disabled:bg-gray-400 mx-auto">
        Envoyer
    </button>
</form>
