<div class="border border-4 p-3 m-3 flex justify-center items-center flex-col">
  
    <p class="flex justify-center items-center ">{{num}}</p>
    
    <!-- @if -->
    @if(num == 0){
        <p class="flex justify-center items-center ">sferr</p>
    }@else if(num % 2 == 0){
        <p class="flex justify-center items-center ">Je suis pair !</p>
    }@else {
        <p class="flex justify-center items-center "> Je suis impair !</p>
    }
    <!-- *ngIf -->
    <p *ngIf="num === 0" class="flex justify-center items-center">sferr</p>
    <p *ngIf="num !== 0 && num % 2 === 0" class="flex justify-center items-center">Je suis pair !</p>
    <p *ngIf="num % 2 !== 0" class="flex justify-center items-center">Je suis impair !</p>
  

    <button  (click)="incrementer()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded w-full max-w-xs">Increment</button>

    <br>

   <!-- *ngFor -->
    <div *ngFor="let user of usersChild; let i = index">
        @if(i<10){
            <p>test</p>
        }
    </div>
    <br>
    <!-- @for -->
    @for (user of usersChild; track $index) {
        @if($index <10){
            <p>test</p>
        }
    }         

</div>